<div class="team-show-page">
  <div id="team-header">
    <h1 id='team-headline'><%= @team.name %></h1>
    <img class="profile_photo", src="<%= @team.team_photo %>">
  </div>
  <div class="performer-section">
    <h2>Performers</h2>
    <% @team.users.each do |user| %>
      <h4><%= user.first_name %> <%= user.last_name %></h4>
      <img class="team-user-photos", src="<%= user.avatar %>">
    <% end %>
  </div>
  <div class="show-section">
    <h2>Upcoming Shows</h2>
    <% @team.shows.each do |show| %>
      <h4><%= show.name %></h4>
      <img class="team-show-photos", src="<%= show.show_photo %>">
    <% end %>
  </div>
</div>
