<div id="wrapper">
  <div id="content">
    <h1>Upcoming Shows</h1>
    <ul class="menu align-center" id="show_list">
      <% @shows.each do |show| %>
        <li><a href="/shows/<%= show.id %>"><%= show.name %> at <%= show.location %>
        <%= show.time %>, <%= show.time %></a></li>
      <% end %>
    </ul>
  </div>
</div>
