<h1> New Show Form: </h1>
  <%= form_for (@show) do |f| %>

    <% if @show.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>
        <ul>
        <% @show.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="field">
    <%= f.label :name, "Show Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location, "Show Location" %><br />
    <%= f.text_field :location %><br />
  </div>
  <div class="field">
    <%= f.label :date, "Show Date" %><br />
    <%= f.text_field :date %><br />
  </div>
  <div class="field">
    <%= f.label :time, "Show Time" %><br />
    <%= f.text_field :time %><br />
  </div>
  <div class="field">
    <%= f.label :duration, "Show Duration" %><br />
    <%= f.text_field :duration %><br />
  </div>
  <div class="field">
    <%= f.label :slots, "Show Slots" %><br />
    <%= f.text_field :slots %><br />
  </div>
  <div class="field">
    <%= f.label :creator, "Show Creator" %><br />
    <%= f.text_field :creator %><br />
  </div>
  <div class="field">
    <%= f.label :price, "Show Price" %><br />
    <%= f.text_field :price %><br />
  </div>
  <div class="field">
    <%= f.label :show_photo %><br />
    <%= f.file_field :show_photo %>
  </div>
  <div>
    <%= f.submit(value="Add Show") %>
  </div>
<% end %>

<%= link_to "Back", shows_path %>
