<div class="show-show-page">
  <div id="show-header">
    <h1 id='show-headline'><%= @show.name %></h1>
    <img class="profile_photo", src="<%= @show.show_photo %>">
  </div>
  <div class="performer-section">
    <h2>Performers</h2>
    <% @performers.each do |user| %>
      <h4><%= user.first_name %> <%= user.last_name %></h4>
      <img class="team-user-photos", src="<%= user.avatar %>">
    <% end %>
  </div>
</div>
